<div class="page login-page">
        <div class="container">
            <div class="form-outer text-center d-flex align-items-center">
                <div class="form-inner">
                    <div class="logo text-uppercase">
                        <span>Bases de &shy;</span>
                        <strong class="text-primary">Datos</strong>
                    </div>
                    <br>
                    <br><br>
                    <div  class="alert alert-danger">
                        Señor usuario por favor inicie sesión <br>

                        En breves instantes lo redireccionaremos... <br>
                        <span ><i class="fa fa-spinner fa-spin "></i> Iniciando sesi&oacute;n</span>
                    </div>
                    <br><br>
                    <a href="index.html" class="forgot-pass">¿No redirecciona? Dame click</a>
                </div>
                <div class="copyrights text-center">
                    <p>Design by
                        <a href="#" class="external">Natsu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>